body > .grid {
    height: 25%;
}
body{
    background-color: #f2f2f2;
}
.image {
    margin-top: -100px;
}
.column {
    max-width: 450px;
}
#text_nome{
    color: orange;
    text-align: left;
}
#text_email{
    color: orange;
    text-align: left;
}
#text_nome_exib{
    color: orange;
    text-align: left;
}
#text_senha{
    color: orange;
    text-align: left;
}
#text_login{
    color: orange;
    text-align: left;
}
#clique_login{
    color: green;
}
#logo{
    margin-top: 4.5px;
}
#sobre{
    text-align: left;
    color: green;
}
#feed{
    text-align: center;
    color: green;
    margin-left: 70px;
    margin-right: 70px;
}
#crie{
    text-align: right;
    color: green;
}